<div class="starter-template">

    <p class="lead">What is happening</p>
</div>
<div style="width:800px; margin:0 auto;">
    <form id="sendTweet">
        <input type="text" class="form-control" id="tweet">
        <br />
        <button class="btn btn-primary">Tweet</button>
    </form>

    <br />
    <br />

    <div id="tweets">
        <div class"media">
            <div class"medi-left">
                <a href="#"><img class="media-object" src="{{ user.photo }}" /></a>
            </div>
            <div class="media-body">
                <h4 class ="media-heading">{{ user.name }}</h4>
                <p>hello hello my name is wedret</p>
            </div>
        </div>
    </div>
</div>