
      <div class="starter-template">
        <h1>Join and Follow</h1>
        <p class="lead">It's free , signup and enjoy new social experience</p>
      

      <div style="width:800px; margin:0 auto;">
          <a class="btn btn-primary btn-lg" href="/signup">Signup</a>

          <a class="btn btn-primary btn-lg" href="/Login">Login</a>
      </div>
      </div>
